/* GENERICS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* UTILS  */

.flex {
  display: flex;
}

.direction {
  flex-direction: column;
}

.container {
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
}

.border {
  border: 2px dashed black;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.text-align {
  text-align: center;
}

.azure-b {
  color: white;
  background-color: #869adf;
}

.small-button {
  font-size: 1.2rem;
  padding: 10px 15px;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 2rem;
  border: none;
}

.big-button {
  font-size: 1.5rem;
  padding: 10px 15px;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 2rem;
  border: none;
}

.big-button.black {
  background-color: #23272a;
  color: white;
}

.big-button.azure {
  background-color: #869adf;
  color: white;
}

h2 {
  font-size: 3rem;
  padding: 0px 100px;
}

h3 {
  font-size: 2rem;
  padding-bottom: 20px;
}

.main-paragraph {
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 20px 100px;
}

/* HEADER */

header {
  background-color: #255ee9;
  height: 100px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0 20px;
}

.col-c {
  width: 50%;
  min-height: 50px;
}

.col-lr {
  width: 25%;
  min-height: 50px;
}

/* JUMBO CLASS */

.background-jumbo {
  background-image: url(../img/jumbo.png);
  background-size: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-big {
  width: 50%;
  height: 80%;
  margin: 0 auto;
}

h1 {
  font-size: 4rem;
  color: white;
  padding: 15px 0;
}

.jumbo-paragraph {
  font-size: 1.5rem;
  line-height: 2rem;
  color: white;
  padding: 15px 40px 25px 40px;
}

/* FROGGY CLASS */
.background-white {
  height: 800px;
}

.col-sm {
  width: 40%;
  height: 80%;
  margin: 0 auto;
}

.col-la {
  width: 60%;
  height: 80%;
  margin: 0 auto;
}

/* WIZARD CLASS */
.background-grey {
  background-color: #f6f6f6;
  height: 800px;
}

/* BUNNY CLASS */

.background-grey-big {
  background-color: #d3d3d3;
  height: 1200px;
}

.col-exbig {
  width: 100%;
  height: 80%;
  margin: 0 auto;
}

.img-big {
  width: 90%;
}

/* FOOTER */

.background-darkgrey {
  background-color: #23272a;
  height: 500px;
  border-bottom: 1px solid #3e4868;
}

.col-sm-d {
  width: 25%;
  height: 90%;
  margin: 15px auto;
}

.col-la-d {
  width: 75%;
  height: 90%;
  margin: 15px auto;
}

.background-darkpink {
  background-color: #f08080;
}

.col-sm-footer {
  width: calc(100% / 4);
  height: 100%;
}

.img-ita {
  width: 10%;
  padding-right: 5px;
}

ul {
  padding-left: 60px;
}

li {
  font-size: 1.3rem;
  color: white;
  padding: 5px 0;
  list-style: none;
}

.special {
  color: #7188d9;
  font-weight: bold;
}

.selector {
  border: none;
  font-size: 1rem;
  color: white;
  background: none;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.footer-h {
  font-size: 3rem;
  color: #7188d9;
}

i {
  font-size: 1.6rem;
  color: white;
  padding: 25px 15px;
}

.background-darkgrey-f {
  background-color: #23272a;
  height: 200px;
}

.col-footer {
  width: 100%;
  min-height: 100px;
}

.lb-footer {
  padding: 5px 15px;
}
